name: Lint
on:
  push:
    paths:
      - "**.go"
      - "go.*"
      - ".github/workflows/lint.yaml"
      - "!**.md"

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17.x
      - uses: golangci/golangci-lint-action@v2
        with:
          version: latest
